@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body {
    background: #dadada;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    padding: 10px 20px;
    color: white;
}

.nav-country {
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}

.nav-country h1 {
    font-size: 14px;
    color: white;
}

.nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    background: white;
    color: grey;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #ebe8e8;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.dropbtn span {
    margin-left: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f3f3f3;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.nav-search-input {
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon {
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0px 4px 4px 0px;
}

.nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-texts {
    margin-left: 15px;
}

.nav-texts p {
    font-size: 10px;
}

.nav-texts h1 {
    font-size: 14px;
}

.nav-cart {
    display: flex;
    align-items: end;
    margin: 0px 15px;
}

.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: white;
    font-size: 15px;
}

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

/*  order contenor */
.orders-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.orders-container h1{
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.order-info {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.order-info img {
    width: 80px; 
    height: 80px;
    object-fit: cover; 
    border-radius: 5px;
}

.orders-container h2 {
    font-size: 18px;
    color: #222;
}

.orders-container p {
    font-size: 14px;
    color: #555;
    margin-top: 4px;
}

.status {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 6px;
}
.delivered {
    color: green;
    background: #e6f4ea;
}

.shipping {
    color: orange;
    background: #fff3cd;
}

.pending {
    color: orange;
    background: #fff3cd;
}

.order-btn {
    background: #ff9900;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 8px;
}

.price p{
    margin-left: 25px;
    font-size: 18px;
    font-weight: bolder;
}
.price1 p{
    margin-left: 17px;
    font-size: 18px;
    font-weight: bolder;
}
.order-btn:hover {
    background: #e68a00;
}

footer p{
    display: flex;
    justify-content: center;
}

footer{
    margin:20px 0px;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    display: flex;
}
